body
{
    align-self: stretch;
    background-image: url("Pozadina.png");
    background-repeat: no-repeat;
    background-size: stretch;
}
.zaglavljeStil
{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
}

.naslovStil
{
    display: flex;
    font-size: 40px;
    font-style: italic;
    font-family:'Trebuchet MS';
    color:rgb(140,0,140);
}
.glavnaForma
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.dugme
{
    width:fit-content;
    margin-right: 3px;
    margin-bottom: 3px;
    font-size: 18px;
    font-family: 'Trebuchet MS';
    text-align:center;
    background-color:rgb(250, 250, 160);
    border-style: solid;
    border-color:rgb(140,0,140);
   border-radius: 30px;
}
.dugme:hover
{
    background-color: rgba(248, 175, 35);
}
.glavniMeni
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.leviProzor 
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: fit-content;
    height: 100%;
    margin-right: 15px;
    
}
.zaPrikaz
{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
}
.desniProzor
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    height: 100%;

}
.levaForma
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tabelaBibliotekari, .tabelaKnjige, .tabelaAutori, .tabelaClanovi, .tabelaKarte
{
    width: 100%;
    height: 100%;
}
table,tr,th,td 
{
    text-align: center;
    border: 2px solid  rgb(80, 80, 170);
    font-family: 'Trebuchet MS';   
}
table 
{
    border-collapse: collapse;
    background-color:rgb(210, 230, 250);
}
tr:hover
{
    background-color:lightskyblue;   
}

.labeleKontrole 
{
    font-size: 18px;
    font-family: 'Trebuchet MS';
    color: rgb(131, 9, 9);
    margin-right: 20px;
    margin-bottom: 20px;
}
.InputKontrole 
{
    text-align: left;
    margin-bottom: 20px;
}

.dugmiciKontrole 
{
    margin-top: 20px ;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 15px;
    border: 2px solid  rgb(80, 80, 170);
    background-color:rgba(233, 230, 230, 0.85);
    border-radius: 15px;
    border-style: solid;
    
}
.dugmiciKontrole:hover
{
    background-color: rgba(160, 215, 230, 0.850);
}

.Dodaj
{
    font-size: 15px;
    font-family: 'Trebuchet MS';
    height: 100%;
    margin-right: 10px;
    margin-top: 10px;
    width: fit-content;
    border:rgb(140,0,140);
    border-style: solid;
    border-radius: 15px;
}
.Odustani
{
    font-size: 15px;
    font-family: 'Trebuchet MS';
    height: 100%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: fit-content;
    border:rgb(140,0,140);
    border-style: solid;
    border-radius: 15px;
}
.Dodaj:hover
{
    background-color: greenyellow;
}
.Odustani:hover
{
    background-color: rgb(255, 70, 70);
}
.headerStil
{
    font-family: 'Trebuchet MS';
    font-size: 25px;
}
.rbStil
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    font-family: 'Trebuchet MS';
    font-size: 18px;
    color:rgb(140,0,140);
    font-weight: bold;
}
.dugmeIzn 
{
    margin-top: 15px;
    font-family: 'Trebuchet MS';
    font-size: 15px;
    background-color:rgba(233, 230, 230, 0.85);
    border: 2px solid rgb(190, 1, 190);
    border-style: solid;
    border-radius: 15px;
    width: fit-content
    ;
}
.dugmeIzn:hover
{
    background:thistle
}
.iznmTabela
{
    background-color:rgb(250, 210, 250);
    border: 2px solid rgb(190, 1, 190);
    width:fit-content;
    height: 100%;

}
.RedIznajmljivanje:hover
{
    background-color:rgba(235, 130, 240, 0.735); 
}
.tdIznm
{
    border: 2px solid rgb(140, 0, 140);
}
.iznZaglavlje:hover
{
    background-color:rgba(235, 130, 240, 0.735); 
}
.iznmBtn:hover
{
    background-color: orange;
    border-color: rgb(140,0,140);
    border-radius: 5px;
    font-size:20px;
    font-family: 'Trebuchet MS';
}
.iznmBtn
{
    border-color: rgb(140,0,140);
    background-color:rgb(250, 250, 160);
    border-radius: 5px;
    font-size:20px;
    font-family: 'Trebuchet MS';
}
.RedniBroj
{
    display: none;
}