.zaglavljeStil
{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.naslovStil
{
    display: flex;
    font-size: 45px;
    font-style: italic;
    font-family:'Trebuchet MS';
    color:crimson;
}
.naslovLabStil
{
    display: flex;
    font-size: 35px;
    font-family:'Trebuchet MS';
    color:darkcyan;
}
.glavnaForma
{
    display: flex;
    align-items: center;
}
.dugme
{
    width: 100%;
   margin-right: 3px;
   margin-bottom: 3px;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    text-align:center;
    background-color:rgb(250, 250, 160);
    border-style: solid;
    border-color: orange;
   border-radius: 30px;
}
.glavniMeni
{
    display: flex;
    width: 100%;
    height: 100%;
    
}
.leviProzor
{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.levaForma
{
    display: flex;
    flex-direction: column;
}

.tabelaBibliotekari, .tabelaKnjige, .tabelaAutori, .tabelaClanovi, .tabelaKarte
{
    width: 100%;
    height: 100%;
}
table,tr,th,td 
{
    text-align: center;
    table-layout: fixed;
    border: 1px solid darkblue;
    font-family: 'Trebuchet MS';
}
table 
{
    border-collapse: collapse;
    background-color:rgb(210, 230, 250);
}

.labeleKontrole 
{
    font-size: 15px;
    font-family: 'Trebuchet MS';
    color: rgb(131, 9, 9);
    margin-right: 20px;
    margin-bottom: 20px;
}

.InputKontrole 
{
    text-align: left;
    margin-bottom: 20px;
}

.dugmiciKontrole 
{
    margin-top: 20px ;
    margin-bottom: 20px;
    margin-right: 50px;
    width: 25%;
    font-size: 15px;
    border: 2px solid #4CAF50;
    background-color: rgb(225, 255, 220);
    border-radius: 15px;
    border-style: solid;
}

.dugmeZaposliOdustani 
{
    font-size: 15px;
    font-family: 'Trebuchet MS';
    height: 100%;
    margin-right: 10px;
    margin-top: 10px;
    width: 15%;
    border: 2px solid #af4c4c;
    background-color: rgb(255, 220, 220);
    border-style: solid;
    border-radius: 15px;
}
.headerStil
{
    font-family: 'Trebuchet MS';
    font-size: 25px;
}
.rbStil
{
    display: flex;
    margin-top: 5px;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    color:rgb(195, 20, 20);
}